In [4]:
import pandas as pd

data = pd.read_csv('usuarios.csv')

In [23]:
# Mostrar en consola el nombre de todos los usuarios que no poseen correo electrónico.
data[ data['email'].isnull() ][ ['name'] ] # np.nan

                  name
0                  NaN
13  Mr Gerardo Garrido

In [36]:
# Listar el nombre y correo de los usuarios más jóvenes de Germany y Canadá.
"""
canada = data[ data['country'] == 'Canada' ].sort_values('age').head(1) # Asc

canada.append(
    data[ data['country'] == 'Germany' ].sort_values('age').head(1)
)

"""

def mas_joven_pais(df, pais):
    df[(df['country'] == pais) & (df['age'] == df[df['country'] == pais].age.min())].loc[:,['name', 'email']]


# mas_joven_pais(data, 'Germany')

# data[data['country']== "Canada"].sort_values("age")[['name','age','email']].head(1)

# data[(data['country']=='Canada') & (data['age'] == data[data['country'] == 'Canada']['age'].min())][['name','email','age']]


# Mostrar los usuarios con mayor edad
data.max()

id         199
age         75
gender    male
dtype: object

In [41]:
# Listar los 5 países con mayor cantidad de usuarios.

# data.groupby(by='country')['country'].count().sort_values(ascending=False).head(5)

# data.value_counts(data['country']).head(5)

data['country'].value_counts().head(5)

# data.groupby('country')['country'].agg('count').sort_values(ascending=False).head(5)

country
Ireland           16
Denmark           16
United Kingdom    14
Norway            14
New Zealand       14
Name: country, dtype: int64

In [52]:
# Obtener el país con más usuarios.

# data.groupby('country')['country'].count().sort_values(ascending=False).head(1)

# data['country'].value_counts()[data['country'].value_counts() == data['country'].value_counts().max()]

data['country'].value_counts()[:5]

# data.groupby("country")["country"].count().idxmax()

# data['country'].value_counts()[data['country'].value_counts() == data['country'].value_counts().max()]

Ireland    16
Denmark    16
Name: country, dtype: int64

In [75]:
# Obtener el país con más usuarios cuya edad sean mayor a 50.

df = data

# data[ data['age'] > 50 ].groupby('country')['country'].count().sort_values(ascending=False).head(2)

# data.loc[data.age > 50].groupby('country').count().name.sort_values(ascending=False)[:1]

data[(data['age'] > 50)].value_counts(data['country']).head(1)

# mas_usuarios_mayores = df[df['age'] > 50].groupby('country').count().name.sort_values(ascending=False)
# mas_usuarios_mayores.head(1).index

# df[df["age"]>50].groupby("country")["country"].count().idxmax()

'Iran'

In [88]:
# Obtener la suma total de todos los usuarios de Canadá y Alemania.

# len(data[(data['country']=='Canada') | (data['country']=='Germany')])

"""
paises = ['Canada', 'Germany']

usuarios_can_alem = df[df.country.isin(paises)].count().age

usuarios_can_alem

"""

# data[(data['country']=='Canada') | (data['country']=='Germany')].shape[0]

data[data['country'].isin(["Germany","Canada"])].value_counts(data['country']).head()

# data[(data['country']=='Canada') | (data['country']=='Germany')]['country'].count()

# data.loc[data.country.isin(['Canada','Germany'])]['country'].count()

# data.query('country in ("Canada","Germany")')['country'].value_counts()

Canada     12
Germany     9
Name: country, dtype: int64

In [117]:
# Mostrar en consola la cantidad de países en el dataset.
data = data.dropna()

# len(data['country'].unique())

# len(data['country'].value_counts())

# data['country'].unique().size

# len(df['country'].unique().tolist())

# len(data.country.unique())

# data['country'].unique()
len(data.groupby('country').count())

17

In [122]:
# Obtener el promedio de edad de cada uno de los países.
# Australia = 12 o 51

data.groupby('country')['age'].mean()

# data.groupby('country').agg({'age': ['mean', 'max', 'count']})

# round(df.groupby('country').age.mean(), 1)

# pd.pivot_table(data, index='country', values='age', aggfunc='mean')

                      age
country
Australia       51.166667
Brazil          50.666667
Canada          38.583333
Denmark         48.812500
Finland         42.200000
France          48.900000
Germany         39.555556
Iran            54.230769
Ireland         42.000000
Netherlands     51.833333
New Zealand     49.071429
Norway          46.071429
Spain           55.166667
Switzerland     44.000000
Turkey          47.000000
United Kingdom  50.142857
United States   51.333333

In [129]:
# Mostrar en consola el país con más hombres.

data[ data['gender'] == 'male' ].groupby('country')['country'].count().sort_values(ascending=False).head(1)

# mas_hombres = df[df['gender'] == 'male'].groupby('country').count().name.sort_values(ascending=False)

# mas_hombres.head(1)

# s = data.groupby(["country", "gender"])["country"].count()
# s[ [True if x[1] == "male" else False for x in s.index]].sort_values(ascending=False)

# data[data['gender']=='male'].groupby('country')['country'].value_counts()[data[data['gender']=='male'].groupby('country')['country'].value_counts() == data[data['gender']=='male'].groupby('country')['country'].value_counts().max()]

country  country
Ireland  Ireland    10
Name: country, dtype: int64

In [53]:
# Obtener todos los paises con mayor cantidad de usuarios

data['country'].value_counts()[data['country'].value_counts() == data['country'].value_counts().max()]

Ireland    16
Denmark    16
Name: country, dtype: int64