# Ejercicios Pandas - Diana Chacón Ocariz

In [179]:
import pandas as pd

# Read data from file
df = pd.read_csv("users.csv")

print(df)

print(df.describe())

df.info()

     Unnamed: 0                name  age  gender         country  \
0             0    Mr Jerome Thomas   73    male   United States
1             1       Mr Gary Berry   70    male  United Kingdom
2             2     Mr Noham Dubois   40    male          France
3             3   Mrs Naja Johansen   63  female         Denmark
4             4  Mr Damien Marchand   61    male          France
..          ...                 ...  ...     ...             ...
195         195       Mr Raul Bravo   46    male           Spain
196         196   Miss Maeva Fortin   40  female          Canada
197         197   Mr Gabriel Berger   40    male          France
198         198  Mrs Ülkü Tanrıkulu   37  female          Turkey
199         199     Mr Raff Valkema   60    male     Netherlands

                           email
0      jerome.thomas@example.com
1         gary.berry@example.com
2       noham.dubois@example.com
3      naja.johansen@example.com
4    damien.marchand@example.com
..                           ...
195       raul.bravo@example.com
196     maeva.fortin@example.com
197   gabriel.berger@example.com
198   ulku.tanrikulu@example.com
199     raff.valkema@example.com

[200 rows x 6 columns]
       Unnamed: 0         age
count  200.000000  200.000000
mean    99.500000   48.020000
std     57.879185   16.197884
min      0.000000   22.000000
25%     49.750000   32.750000
50%     99.500000   49.000000
75%    149.250000   62.000000
max    199.000000   75.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   name        200 non-null    object
 2   age         200 non-null    int64
 3   gender      200 non-null    object
 4   country     200 non-null    object
 5   email       200 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.5+ KB

### 1) Usuarios que no tienen email

In [180]:
sin_email = df[df['email'].isna()]
sin_email

Empty DataFrame
Columns: [Unnamed: 0, name, age, gender, country, email]
Index: []

### 2) Nompre y correo del usuario más joven de Canadá

In [181]:
# Devuelve el nombre y el email de la persona más joven de un país dado
def mas_joven_pais(df, pais):
    edad_joven = df[df['country'] == pais].age.min()

    joven = df[(df['country'] == pais) & (df['age'] == edad_joven)].loc[:,['name', 'email']]

    return joven

In [182]:
canadiense = mas_joven_pais(df, 'Canada')

canadiense

                   name                        email
184  Mr Philip Bélanger  philip.belanger@example.com

### 3) Nombre y correo canadiense y alemán más jóvenes

In [183]:
aleman = mas_joven_pais(df, 'Germany')

mas_jovenes = pd.concat([canadiense, aleman])

mas_jovenes

                   name                        email
184  Mr Philip Bélanger  philip.belanger@example.com
88        Mrs Hilda Epp        hilda.epp@example.com

### 4) 5 Países con mayor cantidad de usuarios

In [184]:
#Contamos los usuarios por país, los ordenamos por orden descendiente y seleccionamos los 5 primeros
mas_usuarios = df.groupby('country').count().name.sort_values(ascending=False)

mas_usuarios.head(5)

country
Ireland           16
Denmark           16
United Kingdom    15
New Zealand       14
Norway            14
Name: name, dtype: int64

### 5) País con más usuarios

In [185]:
# Escogemos el país con más usuarios del ejercicio anterior
mas_usuarios.head(1)

country
Ireland    16
Name: name, dtype: int64

### 6) País con más usuarios mayores de 50 años

In [186]:
# Similar al ejercicio anterior pero tomamos solo los mayores de 50 años
mas_usuarios_mayores = df[df['age'] > 50].groupby('country').count().name.sort_values(ascending=False)
mas_usuarios_mayores.head(1)

country
Iran    10
Name: name, dtype: int64

### 7) Suma de los usuarios de Canadá y Alemania

In [187]:
paises = ['Canada', 'Germany']

usuarios_can_alem = df[df.country.isin(paises)].count().age

usuarios_can_alem

21

### 8) Cantidad de paises

In [188]:
paises = df['country'].unique().tolist()
print(paises)
len(paises)

['United States', 'United Kingdom', 'France', 'Denmark', 'Germany', 'Ireland', 'Finland', 'New Zealand', 'Australia', 'Spain', 'Canada', 'Switzerland', 'Netherlands', 'Turkey', 'Norway', 'Iran', 'Brazil']

17

### 9) Promedio de edad por país

In [189]:
promedio_edad = round(df.groupby('country').age.mean(), 1)

promedio_edad

country
Australia         51.2
Brazil            50.7
Canada            38.6
Denmark           48.8
Finland           42.2
France            48.9
Germany           39.6
Iran              54.2
Ireland           42.0
Netherlands       51.8
New Zealand       49.1
Norway            46.1
Spain             56.6
Switzerland       44.0
Turkey            47.0
United Kingdom    51.5
United States     53.5
Name: age, dtype: float64

### 10) País con más hombres

In [190]:
mas_hombres = df[df['gender'] == 'male'].groupby('country').count().name.sort_values(ascending=False)

mas_hombres.head(1)

country
Ireland    10
Name: name, dtype: int64

### 11) Porcentaje de hombres y mujeres por país

In [191]:
# Calculamos en total de hombres y mujeres por país, así como el total de personas
# Creamos un nuevo DF a partir de las 3 series calculadas

total = df.groupby('country').count().name
n_hombres = df[df['gender'] == 'male'].groupby('country').count().name
n_mujeres = df[df['gender'] == 'female'].groupby('country').count().name

generos = pd.concat([n_hombres, n_mujeres, total], axis=1)

generos.columns=['hombres', 'mujeres', 'total']

generos

                hombres  mujeres  total
country
Australia             6        6     12
Brazil                4        5      9
Canada                7        5     12
Denmark               4       12     16
Finland               3        7     10
France                6        4     10
Germany               3        6      9
Iran                  8        5     13
Ireland              10        6     16
Netherlands           2        4      6
New Zealand           4       10     14
Norway                8        6     14
Spain                 4        9     13
Switzerland           3        6      9
Turkey                5        7     12
United Kingdom        9        6     15
United States         8        2     10

In [192]:
# Aplicamos la función porcentaje a cada línea

def porcentaje(x, y):
    return round((y * 100 / x), 1)

generos['% hombres'] = generos.apply(lambda row: porcentaje(row['total'],
                     row['hombres']), axis = 1)

generos['% mujeres'] = generos.apply(lambda row: porcentaje(row['total'],
                     row['mujeres']), axis = 1)

generos

                hombres  mujeres  total  % hombres  % mujeres
country
Australia             6        6     12       50.0       50.0
Brazil                4        5      9       44.4       55.6
Canada                7        5     12       58.3       41.7
Denmark               4       12     16       25.0       75.0
Finland               3        7     10       30.0       70.0
France                6        4     10       60.0       40.0
Germany               3        6      9       33.3       66.7
Iran                  8        5     13       61.5       38.5
Ireland              10        6     16       62.5       37.5
Netherlands           2        4      6       33.3       66.7
New Zealand           4       10     14       28.6       71.4
Norway                8        6     14       57.1       42.9
Spain                 4        9     13       30.8       69.2
Switzerland           3        6      9       33.3       66.7
Turkey                5        7     12       41.7       58.3
United Kingdom        9        6     15       60.0       40.0
United States         8        2     10       80.0       20.0

### 12) Total de hombres y mujeres en el DF

In [193]:
hombres = generos['hombres'].sum()
mujeres = generos['mujeres'].sum()
total = generos['total'].sum()

totales = {
    'hombres': hombres,
    'mujeres': mujeres,
    'total': total,
    '% hombres': porcentaje(total, hombres),
    '% mujeres': porcentaje(total, mujeres),
}

# Se agrega una serie para poder conservar el índice de países
# Si se agrea el diccionario directamente, entonces
# ignore_index=True siempre, y se pierden los índices
linea_totales = pd.Series(totales, name='Totales')

generos = generos.append(linea_totales, ignore_index=False)

generos

                hombres  mujeres  total  % hombres  % mujeres
country
Australia           6.0      6.0   12.0       50.0       50.0
Brazil              4.0      5.0    9.0       44.4       55.6
Canada              7.0      5.0   12.0       58.3       41.7
Denmark             4.0     12.0   16.0       25.0       75.0
Finland             3.0      7.0   10.0       30.0       70.0
France              6.0      4.0   10.0       60.0       40.0
Germany             3.0      6.0    9.0       33.3       66.7
Iran                8.0      5.0   13.0       61.5       38.5
Ireland            10.0      6.0   16.0       62.5       37.5
Netherlands         2.0      4.0    6.0       33.3       66.7
New Zealand         4.0     10.0   14.0       28.6       71.4
Norway              8.0      6.0   14.0       57.1       42.9
Spain               4.0      9.0   13.0       30.8       69.2
Switzerland         3.0      6.0    9.0       33.3       66.7
Turkey              5.0      7.0   12.0       41.7       58.3
United Kingdom      9.0      6.0   15.0       60.0       40.0
United States       8.0      2.0   10.0       80.0       20.0
Totales            94.0    106.0  200.0       47.0       53.0

### 13) Cantidad de personas por grupo de edad y país: 
* Menor o igual a 30
* Entre 31 y 45
* Entre 46 y 60
* Mayor de 60

In [178]:
menor_30 = df[df['age'] <= 30].groupby('country').count().name
entre_31_45 = df[(df['age'] > 31) & (df['age'] <= 45)].groupby('country').count().name
entre_46_60 = df[(df['age'] > 45) & (df['age'] <= 60)].groupby('country').count().name
mayor_60 = df[df['age'] > 60].groupby('country').count().name

grupo_edades = pd.concat([menor_30, entre_31_45, entre_46_60, mayor_60], axis=1).fillna(0).astype('int8')

grupo_edades.columns=['menores 30', 'entre 31 y 45', 'entre 46 y 60', 'mayores 60']

grupo_edades

                menores 30  entre 31 y 45  entre 46 y 60  mayores 60
country
Australia                2              1              4           4
Brazil                   2              2              1           4
Canada                   4              5              3           0
Denmark                  2              7              4           3
Finland                  3              2              4           1
France                   2              2              1           4
Germany                  2              4              2           1
Iran                     1              1              8           3
Ireland                  4              7              2           3
New Zealand              5              1              2           6
Norway                   4              2              5           3
Switzerland              3              1              2           2
Turkey                   1              3              3           3
United Kingdom           3              3              2           7
United States            3              0              2           5
Netherlands              0              2              2           2
Spain                    0              2              5           6